body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;

  /* font-family: Helvetica, Georgia, "Times New Roman", */
        /* Times, serif; */
  color: black;
  background-image: url("back2.png");
  background-color: #FFD4AA }



header {
  padding: 20px;
  border-bottom: 2px solid #333;
}




div#central{
background-color: #FFFFFF;

width: 1000px;

margin-left: auto;
margin-right: auto;
margin-top: 2em;
margin-bottom: 2em;

padding-top: 3em;
padding-bottom: 3em;
padding-left: 3em;
padding-right: 3em;
}



div.classe{
width:100%;
padding-left:2em;
}


div.lien{
width:100%;
height:243px;
overflow: hidden;
}

div.flotte_gauche{
float: left;
}

div.flotte_droite{
float: right;
}



div.separa{
text-align:center;
padding-top: 3em;
padding-bottom:3em;
}




h1 {
  color: #333;
}


h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}



a:link {
  color: #AA5585;
text-decoration:none; }
a:visited {
  color: #AA5585 ;
text-decoration:none; }

a:hover {
  color: #AA5585;
text-decoration:underline; }




nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}




section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}